<button
    {{#unless bind }}
        {{#if type }}
            type="{{ type }}"
        {{/if }}
    {{/unless}}
    {{#if click }}@click="{{ click }}"{{/if}}
    {{#if bind }}x-bind="{{ bind }}"{{/if}}
    class="{{withDefault class 'relative px-4 py-2 rounded btn'}} {{#if color}}{{cond outlined (append 'btn-' color '-outlined') (append 'btn-' color)}}{{else}}{{cond outlined 'btn-outlined' ''}}{{/if}} {{#if block}}w-full{{/if}}"
>
    {{#if label}}
        <span>{{ label }}</span>
    {{/if}}
    {{#if icon}}
        <span class="{{ icon-class}}">{{partial (append "icon/" icon) }}</span>
    {{/if}}
    {{#if sr-only}}
        <span class="sr-only">{{ sr-only }}</span>
    {{/if}}
    {{#if image}}
        {{ image }}
    {{/if}}
</button>