<button
    {{#if bind }}type="{{withDefault type 'button'}}"{{/if}}
    {{#if click }}@click="{{ click }}"{{/if}}
    {{#if bind }}x-bind="{{ bind }}"{{/if}}
    class="{{withDefault class 'px-4 py-2 rounded md:flex'}} {{#if emphasis}}
            {{~#if outlined}}
                btn btn-{{ emphasis }}-outlined
            {{~^~}}
                btn btn-{{ emphasis }}
            {{~/if}}
        {{~^~}}
            {{~#if outlined}}
                btn btn-outlined
            {{~^~}}
                btn
            {{~/if}}
        {{~/if}}"
>
    {{#if label}}
        <span>{{ label }}</span>
    {{/if}}
    {{#if icon}}
        {{partial (append "icon/" icon) }}
    {{/if}}
    {{#if srOnly}}
        <span class="sr-only">{{ srOnly }}</span>
    {{/if}}
</button>