<button type="{{withDefault type 'button'}}"
    @click="{{ click }}"
    class="px-4 py-2 rounded md:flex {{#if emphasis}}
            {{~#if outlined}}
                btn btn-{{ emphasis }}-outlined
            {{~^~}}
                btn btn-{{ emphasis }}
            {{~/if}}
        {{~^~}}
            {{~#if outlined}}
                btn btn-outlined
            {{~^~}}
                btn
            {{~/if}}
        {{~/if}}"
>
    {{#if label}}
        <span>{{ label }}</span>
    {{/if}}
    {{#if icon}}
        {{partial (append "icon/" icon) }}
    {{/if}}
</button>