<button class="{{ class }}"
  hx-get="{{ href }}" hx-target="#content" hx-trigger="click, hx-{{ id }}" hx-push-url="true"
  name="{{ name }}" id="{{ id }}" {{#if disabled}}disabled{{/if}}
>
  <span>{{ label }}</span>
</button>