{{!< main }}
{{> element/seo }}
<section class="flex flex-col max-w-xl mx-auto h-full">
  <div class="flex items-center justify-center my-4">
    {{> link/default href="/blog" label="Back to blog list" icon=(object component=(partial "icon/arrow-left" full=true) position="left") }}
  </div>
  <div class="flex items-center justify-between my-4">
    {{#if post.prev }}
      <div class="flex items-center grow">
        {{> link/default href=(append "/blog/" (numberIntoString post.prev)) label="Previous post" icon=(object component=(partial "icon/chevron-left" full=true) position="left") }}
      </div>
    {{/if}}
    {{#if post.next }}
      <div class="flex items-center justify-end grow">
        {{> link/default href=(append "/blog/" (numberIntoString post.next)) label="Next post" icon=(object component=(partial "icon/chevron-right" full=true) position="right") }}
      </div>
    {{/if}}
  </div>
  <div class="p-8 border h-full rounded-md shadow-md mx-auto flex flex-col gap-y-4">
    <h3 class="flex items-center justify-between">
      <div>by {{> link/primary href="/users/{{ post.author.id }}" hx-target="#content" hx-swap="innerHTML" label=post.author.username }}</div>
      <div class="flex items-center gap-x-2">
        {{> button/heart-circle title="React to this post" class="flex"
          hx-post=(append "/api/reaction/post/" (numberIntoString post.id)) hx-trigger="click"
          hx-target="#content" hx-swap="outerHTML" hx-vals=(JSONstringify (object reaction=post.reactions))
          bg-color="bg-secondary"}}
        {{!-- {{button hx-post=(append "/reactions/" (numberIntoString post.id)) hx-trigger="click" hx-swap="outerHTML"}} --}}
        <span>{{ post.reactions }}</span>
      </div>
    </h3>
    <h2 class="font-medium mb-8">{{ post.title }}</h2>
    <p class="text-base">{{ post.body }}</p>
    {{#if post.tags}}
      <div class="flex flex-wrap gap-2">
        <span>Tags: </span> {{> element/tags items=post.tags limit=(length post.tags)}}
      </div>
    {{/if}}
  </div>
  <div class="flex items-center justify-between my-4">
    {{#if post.prev }}
      <div class="flex items-center grow">
        {{> link/default href=(append "/blog/" (numberIntoString post.prev)) label="Previous post" icon=(object component=(partial "icon/chevron-left" full=true) position="left") }}
      </div>
    {{/if}}
    {{#if post.next }}
      <div class="flex items-center justify-end grow">
        {{> link/default href=(append "/blog/" (numberIntoString post.next)) label="Next post" icon=(object component=(partial "icon/chevron-right" full=true) position="right") }}
      </div>
    {{/if}}
  </div>
  <hr>
  <div class="my-4">{{> form/comment }}</div>
  <div id="comments" hx-get="/api/comments/post/{{ post.id }}" hx-trigger="load" class="mb-4"></div>
</section>